{% extends "base.html" %}
{% block content %}

<form method="post">

    {{ get_score_data.hidden_tag() }}

    <h2> {{ get_score_data.name.label }} </h2>
    {{ get_score_data.name() }}

    <h2> {{ get_score_data.score.label }} </h2>
    {{ get_score_data.score() }}

    <h2> {{ get_score_data.age_category.label }} </h2>
    {{ get_score_data.age_category() }}

    <h2> {{ get_score_data.sex.label }} </h2>
    {{ get_score_data.sex() }}

    <h2> {{ get_score_data.email.label }} </h2>
    {{ get_score_data.email() }}

    <h2> {{ get_score_data.phone_num.label }} </h2>
    {{ get_score_data.phone_num() }}

    <br><br>
    {{ get_score_data.submit() }}

</form>

{% endblock %}