<!DOCTYPE html>
<html lang="en">

  <head>
    <link rel="stylesheet" href="../static/style.css">
    
    <title>Yelverton Bowmen of Plymouth</title>
    <link rel="icon" type="image/png" href="../static/imgs/logo.png"/>
  </head>

  <body>
    <nav>
        <img src="../static/imgs/logo.png" />
        <h2>{{ event_name }} - {{ date }}</h2>
        <a href="/">Scoreboard</a>
        <a href="/add_score">Add a Score</a>
        <a href="/results">View Results</a>
    </nav>

    <div id="main">
    {% block content %}
    {% endblock %}
    </div>

    <footer>
        <p>
            <a href="https://yelvertonbowmen.co.uk" target="_blank">&copy Yelverton Bowmen</a>
            <br> <a href="https://github.com/corey-richardson" target="_blank">github.com/corey-richardon</a>
        </p>
    </footer>

  </body>
</html>