:root {
    --yb_blue: #0080FE;
    --yb_yellow: #FFFC00;
    --yb_light_blue: #E0E8FF;
    --yb_dark_blue: #002447;
}

* {
    font-family: "Lucida Grande", "Lucida Sans Unicode";
    padding: 0;
    text-align: center;
}


h1 {
    text-align: center;
}

nav {
    background-color: var(--yb_blue);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding: 10px 0;

}

nav h1, h2 {
    margin: 5px;
}

nav img {
    height: 70px;
    width: 70px;
    margin: 0;
}

h1 {
    padding: 30px 0;
    font-size: 40px;
}

p {
    padding: 10px 0;
}

footer {
    background-color: var(--yb_blue);
    text-align: center;
    color: var(--yb_light_blue);
}

footer a {
    color: var(--yb_light_blue);
    border-radius: 15px;
}

a {
    color: white;
    background-color: var(--yb_blue);
    padding: 0 10px;
    border-radius: 15px;
    text-align: center;
}

a:hover {
    color: var(--yb_blue);
    background-color: var(--yb_dark_blue);
    text-align: center;
}

th {
    font-weight: bold;
}

table, th, td, tr {
    border: 1px solid black;
    border-collapse: collapse;
  }

table {
    width: 100%;

}

th, td {
    width: 20%;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

b {
    color: var(--yb_blue);
}